
<article class="post">
    <header>
        <h2 class="Post__title">
            Lorem ipsom dolor sit amet.
        </h2>
    </header>    
    <div class="post__body">
        Proin ac elementum tellus, quis luctus nisi. Proin convallis, ex ut congue egestas, arcu neque elementum quam, in vulputate mi enim et felis. Cras et leo odio. Cras odio enim, auctor at gravida et, semper at dui. Praesent venenatis sapien suscipit neque convallis, eget tempor risus luctus. Aenean ullamcorper aliquam accumsan. Cras elementum nulla id neque viverra placerat. In vestibulum metus turpis, quis aliquam odio posuere at. Quisque ligula augue, convallis ac elementum vel, tempor sit amet ex. Ut justo diam, rhoncus quis mauris id, porta pharetra tellus. Nullam molestie est eget augue dignissim dictum. Duis ornare nisi nec tincidunt feugiat.
    </div>
</article>